<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battleship</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--My css for sweet alert: sweet-alert.css-->
    <link rel="stylesheet" href="styles/sweet-alert.css">

    <!--My css: style.css-->
    <link rel="stylesheet" href="styles/style.css">

    <!--w3.css stylesheet, w3pro.css stylesheet and color libraries-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <link rel="stylesheet" href=" https://www.w3schools.com/lib/w3-colors-flat.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2018.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2019.css">
    


</head>
<body id="background-img">
    <div id="app">

        <!--ROW 1: Login Form + Register/Sign Up form + Welcome + Logout Button -->
        <div class="w3-row-padding">
            <div v-if="currentPlayer == 'GUEST'">
                <div class="w3-col s9 m9 l9">
                    <div>
                        <!--Login Form -->
                        <form class="w3-center">
                            <label>Username: </br> <input type="email" name="username" required></label></br>
                            <label>Password: </br> <input type="password" name="password" required></label></br></br>
                            <button onclick="login(event,false)" 
                            class="w3-btn w3-light-grey w3-border w3-round w3-hover-light-green w3-ripple">
                                Log in
                            </button>
                        </form></br>
                        <!--Register button -->
                        <div class="w3-center">
                            <button onclick="document.getElementById('signup').style.display='block'" 
                            class="w3-btn w3-light-grey w3-border w3-round w3-hover-light-blue">
                                Register
                            </button>
                        </div>
                    </div>
                    <!--Sign up Form -->
                    <div class="w3-container">
                        <div id="signup" class="w3-modal">
                            <div class="w3-modal-content w3-card-4 w3-animate-zoom  w3-light-grey" style="max-width:600px;">
                                <div class="w3-center w3-margin">
                                    <span onclick="document.getElementById('signup').style.display='none'" 
                                    class="w3-btn w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">
                                        &times; <!--&times; es la x para cerrar el modal-->
                                    </span>
                                </div>
                                <form name="signupForm" class="w3-container w3-center w3-margin">
                                    <label>Email: </br> <input type="email" name="username" required></label></br>
                                    <label>Password: </br> <input type="password" name="password" required></label></br></br> 
                                    <button onclick="signup(event)" class="w3-btn w3-light-grey w3-border w3-round w3-margin w3-ripple">
                                        Sign up
                                    </button> 
                                </form>
                                <div class="w3-container w3-border-top w3-padding-16">
                                    <button onclick="document.getElementById('signup').style.display='none'" type="button" 
                                    class="w3-btn w3-pale-red w3-border w3-round">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Information card-->
                <div class="w3-col s3 m3 l3">
                    <p class="w3-card-4 w3-padding w3-margin-right w3-center">If you want to join a game please login or register!</p>

                </div>
            </div>

            <!--Username + Logout Button + Create Game Button-->
            <div v-else>
                <div class="container">
                    <div class="w3-row-padding w3-margin w3-right">
                        <!--Logout button -->
                        <button onclick="logout(event)" class="w3-btn w3-light-grey w3-border w3-ripple">Log out</button>
                    </div>

                    <div class="w3-row-padding">
                        <!--Username -->
                        <h2 class="w3-tag w3-light-grey w3-border w3-round w3-padding w3-right w3-margin-right w3-left-align" id="username">
                            Username: </br>
                            <span class="w3-text-purple w3-center">{{currentPlayer}}</span>
                        </h2>
                    </div>

                    <div class="w3-row-padding w3-margin w3-right">
                        <!--Create game button -->
                        <template  v-if="currentPlayer != 'GUEST'">
                            <a onclick="createGame(event)" class="w3-btn w3-light-grey w3-border w3-ripple">
                                Create New Game</a>
                        </template>
                    </div>
        
                </div>
            </div>
        </div>

        <!------------------------LIST OF GAMES----------------------------->
        <!--ROW 2: list title-->
        <div class="w3-row-padding w3-margin-left">
            <h2 class="w3-tag w3-2018-pink-lavender w3-padding w3-border">List of games</h2>
        </div>

        <!--ROW 3: games list table-->
        <div id="games-table" class="w3-row-padding w3-margin-right">
            <div class="w3-col s12 m12 l12">
                <table class="w3-table w3-border w3-bordered w3-striped w3-centered">
                    <thead>
                        <tr class="w3-2018-pink-lavender">
                            <th>Game Id</th>
                            <th>Created</th>
                            <th>Player 1</th>
                            <th>Player 2</th>
                            <th v-if="currentPlayer != 'GUEST'">Game description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="game in games"class="w3-2017-ballet-slipper" >
                            <!--game id col-->
                            <td>{{game.id}}</td>

                            <!--created col-->
                            <td>{{game.created}}</td>

                            <!--username col-->
                            <template v-if="game.gamePlayers.length > 1">   
                                <td v-for="gamePlayer in game.gamePlayers">{{gamePlayer.player.email}}</td>
                            </template>
                            <template v-else>
                                <td>{{game.gamePlayers[0].player.email}}</td>
                                <td class="w3-hover-text-blue">Waiting...</td>
                            </template>
                            
                            <!--description col-->
                            <template v-if="currentPlayer != 'GUEST'">
                                <template v-for="gamePlayer in game.gamePlayers">
                                    <template v-if="gamePlayer.player.email == currentPlayer">
                                        <td>
                                            <a :href="'game-view.html?gp='+gamePlayer.id" class="w3-btn w3-border w3-round w3-pale-green w3-hover-light-green w3-ripple">
                                                Enter game</a>
                                        </td>
                                    </template>
                                    <template v-else-if="gamePlayer.player.email != currentPlayer && game.gamePlayers.length == 1">   
                                        <td>
                                            <a onclick="joinGame(event)" :data-id="game.id" class="w3-btn w3-border w3-round w3-hover-amber w3-pale-yellow w3-ripple">
                                                Join game</a>
                                        </td>
                                    </template>
                                </template>      
                                <template v-if="game.gamePlayers.length == 2 && game.gamePlayers[0].player.email != currentPlayer && game.gamePlayers[1].player.email != currentPlayer">
                                        <td>
                                            <p id="not-available" class="w3-text-dark-grey w3-hover-text-red">Not available</p>
                                        </td>
                                </template> 
                        </template>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div></br>

        <!------------------------LEADERBOARD (SCORES) TABLE ----------------------------->
        <!--ROW 4: leaderboard title-->
        <div class="w3-row-padding w3-margin-left">
            <div>
                <h2 class=" w3-tag w3-2019-creme-de-peche w3-padding w3-border">Leaderboard</h2>
            </div>
        </div>

        <!--ROW 5: score table-->
        <div id="score-table" class="w3-row-padding w3-margin-right">
            <div class="w3-col s12 m12 l12">
                <table class="w3-table w3-striped w3-bordered w3-border w3-card-4 w3-centered w3-margin-bottom">  
                    <thead>
                        <tr class="w3-2019-creme-de-peche">
                            <th>Place</th>
                            <th>Username</th>
                            <th>Won</th>
                            <th>Tied</th>
                            <th>Lost</th>
                            <th>Total Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(leader, index) in leaders()" class="w3-2018-coconut-milk">
                            <td>{{index + 1}}°</td>
                            <td><b>{{leader.username}}</b></td>
                            <td>{{leader.won}}</td>
                            <td>{{leader.tied}}</td>
                            <td>{{leader.lost}}</td>
                            <td><b class="w3-text-purple">{{leader.score}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- Vue.js development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    

    <!--Sweet alert - replacement for JavaScript messages-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!--My script games.js-->
    <script src="scripts/games.js"></script>
   


</body>
</html>