/*game-view.html*/

/*----GRID---*/
.grid-salvoes{
    background-image: url('../styles/gifs/pusheen.gif');
    background-size: cover;
    border: 2px solid rgb(128,128,128);
    border-radius: 10px;
    height: 495px;
    width: 495px;
}

.grid-salvoes .salvo{
    background-color: blue;
    text-align: center;
}

.grid-ships .salvo {
    background-color: red;
    text-align: center;
}

.salvo.hit {
    background-color: chartreuse;
}

.salvo.hit.sink{
    background-color: papayawhip;
}


/* PAWS (salvoes fire)*/
.salvoes-img{
    background-image: url('../styles/images/paw\ salvo.png');
    background-size: contain;
}

/*-----BUTTONS-----*/

#add-salvoes{
    margin-top: 20px;
    display: inline-block;
    margin-left: 368px;
}

#wait-to-shoot{
    margin-top: 20px;
    display: inline-block;
    margin-left: 300px;
}

/*-----GAME STATE-----*/

#wait-opponent{
    z-index: 10000;
    background-image: url("../styles/images/cats\ paws.jpg")
}

#wait-opponent p {
    border: 2px solid purple;
    padding: 50px;
    text-align: center;
    background-color: palevioletred;
    margin: 4px;
}

#wait-opponent-ships{
    z-index: 10000;
    background-image: url("../styles/images/cats\ paws.jpg")
}

#wait-opponent-ships p{
    border: 2px solid purple;
    padding: 50px;
    text-align: center;
    background-color: palevioletred;
    margin: 4px;
}

.shoot-salvoes{
    border: 2px solid purple;
    padding: 10px;
    padding-left: 170px;
    padding-right: 170px;
    text-align: center;
    background-color: palevioletred;
    margin-top: 0;
    margin-left: 1px;
    display: inline-block;
}

.wait-opponent-shoot{
    border: 2px solid purple;
    padding: 10px;
    padding-left: 170px;
    padding-right: 170px;
    text-align: center;
    background-color: palevioletred;
    margin-top: 0;
    margin-left: 1px;
    display: inline-block;
}


