.grid-salvoes{
    background-image: url('../styles/gifs/pusheen.gif');
    background-size: cover;
    border: 2px solid rgb(128,128,128);
    border-radius: 10px;
    height: 495px;
    width: 495px;
}

 .grid-salvoes .salvo{
    background-color: blue;
    text-align: center;

}

.grid-ships .salvo {
    background-color: red;
    text-align: center;
}

.salvo.hit {
    background-color: chartreuse;
}

.salvo.hit.sink{
    background-color: papayawhip;
}

