.carrierHorizontal{
    background-image: url('ships/carrier.png');
    background-size: 85% 100%;
    background-position: center;
}

.carrierVertical{
    background-image: url('ships/carrier_vertical.png');
    background-size: 100% 85%;
    background-position: center;
    width: 45px !important;
}

.battleshipHorizontal{
    background-image: url('ships/battleship.png');
    background-size: 85% 100%;
    background-position: center;
}

.battleshipVertical{
    background-image: url('ships/battleship_vertical.png');
    background-size: 100% 85%;
    background-position: center;
    width: 45px !important;
}

.submarineHorizontal{
    background-image: url('ships/submarine.png');
    background-size: 90% 100%;
    background-position: center;
}

.submarineVertical{
    background-image: url('ships/submarine_vertical.png');
    background-size: 100% 90%;
    background-position: center;
    width: 45px !important;
}

.destroyerHorizontal{
    background-image: url('ships/destroyer.png');
    background-size: 100% 150%;
    background-position: center;
}

.destroyerVertical{
    background-image: url('ships/destroyer_vertical.png');
    background-size: 150% 100%;
    background-position: center;
    width: 45px !important;
}

.patrolBoatHorizontal{
    background-image: url('ships/patrol_boat.png');
    background-size: 100% 150%;
    background-position: center;
}

.patrolBoatVertical{
    background-image: url('ships/patrol_boat_vertical.png');
    background-size: 150% 100%;
    background-position: center;
    width: 45px !important;
}


.grid-ships{
    background-color: lightsteelblue;
    background-image: url('../styles/gifs/Walking\ Paws.gif');
    background-size: cover;
    border: 2px solid rgb(128,128,128);
    border-radius: 10px;
    height: 495px;
    width: 495px;
}




