/*----------------GENERAl STYLE -> body: games.html and game-view.html-------------*/

body{
    font-family: Verdana,sans-serif;
    font-size: 12px;
}

body h2, h3, h4{
    font-family: Verdana,sans-serif;
}

body h3{
    font-size: 19px;
    
}

/*background*/
#background-img{
    background-image: url('../styles/images/background\ paws\,\ bones\,\ fish.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
}


/*----------------GAMES.HTML-------------*/

/*username*/
#username{
    font-size: 25px;
}


/* GAMES LIST TABLE */
#not-available{
    margin: 0;
    padding: 9px;
}


/*----------------GAME-VIEW.HTML-------------*/

/*------------GRIDS---------------*/
.grid-stack-item-content {
    background-repeat: no-repeat;
    
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

#grid{
    margin: 45px 0 0 45px;
    position: absolute;
    width: 450px;
}

.grid-wrapper{
    display: flex;
    flex-direction: column;
}

.grid-row{
    display: flex;
    flex-direction: row;
}

.grid-cell{
    display: flex;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border: 1.3px solid rgb(128,128,128);
    border-radius: 10px;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.grid-cell span{ 
    margin: auto
}

.busy-cell{
    background-color: rgba(0,119,190,0.5);
}

.grid-row:first-child .grid-cell{
    background-color: lightgrey;
}

.grid-cell:first-child{
    background-color: lightgrey;
}


/* PAWS (salvoes fire)*/
.salvoes-img{
    background-image: url('../styles/images/paw\ salvo.png');
    background-size: contain;
}

/* BUTTONS - game-view.html */
#add-ships{
    margin-top: 20px;
    display: inline-block;
    margin-left: 368px;
}

#ships-added{
    margin-top: 20px;
    display: inline-block;
    margin-left: 380px;
}

#add-salvoes{
    margin-top: 20px;
    display: inline-block;
    margin-left: 368px;
}

/*ERROR: not allowed error 403*/
#error{
    display: none;
}

#error.show{
    background-image: url('../styles/images/403-forbidden-error.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 9999;
    display: block;
    width: 100vw;
    height: 100vh;
}

